@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Science+Gothic:wght@100..900&display=swap');

* {
    box-sizing: border-box;

    margin: 15px auto; 
    padding: 0;
    width: 600px;
    background-color: #5C743B;
    color: #c3d5ec;
}

h1, h2, h3 {
    border-bottom: 3px solid rgba(195, 213, 236, 0.5);
}

h1 {
    font-family: "Science Gothic", sans-serif;
    font-size: 34px;
    font-weight: 900;
    text-align: center;
}

h2 { 
    font-family: "Science Gothic", sans-serif;
    font-size: 24px;
    font-weight: 800;
}

h3 { 
    font-family: "Science Gothic", sans-serif;
    font-size: 18px;
    font-weight: 700;
}

p {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin: 0px 15px;
    width: 570px;
}

li {
    margin: 20px auto;
    width: 560px;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

strong {
        font-family: "Oswald", sans-serif;
    font-weight: 600;

}
footer {
    margin: 0px auto;
}
button {
    display: block;
    width: 120px;
    margin: 10px auto;
    background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    padding: 5px 20px;
    color: black;
    height: 40px;
    letter-spacing: 1px;

}

button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}